@media only screen and (max-width: $mobile) {
  .header {
    padding: 41px 20px 241px;
    &__line {
      margin-bottom: 201px;
      display: block;
    }

    &__section {
      text-align: center;

      &-logo {
        margin-bottom: 13px;
      }

      &-heading {
        margin-bottom: 41px;
      }
    }
  }

  .navbar {
    position: absolute;
    left: 10%;
    width: 100%;
    margin: 21px 0;
    visibility: hidden;

    &__list {
      list-style-type: none;
      display: block;
      padding: 40px;
      // margin-left: 140px;
      text-align: center;
    }

    &__item {
      // margin-left: 140px;
      margin: 0 85%;
      text-align: center;
      padding: 10px 0;
      &:not(:first-child) {
        padding-left: 0;
      }
    }
  }
}
