.text__section {
  padding: 66px 143px 98px 152px;

  &-heading {
    @include section-heading(39px, $grey-color);
  }

  &-text {
    @include section-text(45px, $lightgrey-color);
  }

  &-info-wrapper {
    display: flex;
    margin-bottom: 46px;
    justify-content: space-between;
  }
  &-info {
    @include box-text($lightgrey-color);
    width: 408px;
  }

  &-btn {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $white-color;
    background: $blue-color;
    border: none;
    padding: 5px 22px;
    border-radius: 18px;
    display: block;
    margin: 0 auto;
    &:hover{
      background-color: $white-color;
      color: $blue-color;
      border: 1px solid $blue-color; 
  }

  }
}
